.button {
    color: white;
    background-color: rgb(37, 35, 35);
    border: none;
    border-radius: 2px;
    padding: 5px;
    opacity: 1;
   }

.returnOrMove {
    position: fixed;
    z-index: 100;

}

.button:hover {
    opacity: .7;
    cursor: pointer;
}

#return {
    color: white !important;
}
