.cool-line{ 
    display:block;
    border:none;
    color:white;
    height:1.5px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.front-page, a.front-page {
    text-align: center !important;
    text-shadow: 1px 1px 2px black, 0 0 25px #4bb6b5, 0 0 5px #347b7a;
}

a.front-page {
    text-decoration: none !important;
    margin-left: 50% auto;
    color: black;
}

#meet:hover, #portfolio:hover, .front-page:hover {
    cursor: pointer;
    opacity: .8;
}

#title:hover {
    cursor: none !important;
    opacity: 1 !important;
}
