.cool-line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.front-page, a.front-page {
    text-align: center !important;
}

a.front-page {
    text-decoration: none !important;
    margin-left: 50% auto;
    color: black;
}

#meet:hover, #portfolio:hover {
    cursor: pointer;
}
