.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color:black;
    flex-shrink: 0;
    text-align: center;
    margin-top: 50px;
    }

.links {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    
}

@media only screen and (max-width: 768px) {
    .links {
        width: 40px;
        height: 40px;
    }
  }