.App {
  text-align: center;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container { 
height: 100% !important;
max-height: 100%;
width:-webkit-fill-available !important;
position: absolute;
top: 0;
bottom: 0;
max-width: -webkit-fill-available;
flex: 1 0 auto;
}